# Agricultural Data for Rajasthan, India (2018-2019)
## Project Goals
 - Build a recommender system that allows users to input parameters and the system will recommend the best crops to plant
 - First step is to train a model on available data that can predict the price of the crop
 - System will run the prediction model for each type of crop and produce a ranked list of crops based on price

In [2]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

In [3]:
conn_string = "mysql+pymysql://dev:devpass@localhost/agData"
engine = create_engine(conn_string)
cnx = engine.connect()

In [4]:
pd.read_sql("SHOW tables;", cnx)

  Tables_in_agData
0       crop_price
1  crop_production
2    soil_analysis
3      water_usage

## Table Details
### SQL Table crop_price
- district: District name where the crop was grown (Categorical)
- crop: Crop name (Categorical)
- market: Location sold (Categorical)
- date: Date sold (Date)
- price: Sales price (Numerical)
  
### SQL Table crop_production
- district: District name where the crop was grown (Categorical)
- crop: Crop name (Categorical)
- season: Kharif or Rabi (Categorical)
- area: field size in hectares (Numerical)
- yield: production per area in quintals = (production / area) x100 (Numerical)
- production: overall production in metric tons (Numerical)
  
### SQL Table soil_analysis
- district: District name where sample was taken (Cetegorical)
- soil_type: Type of soil observed (Categorical)
- ph_level: Measured pH (Numerical)
- organic_matter: Measured organic matter (Numerical)
- nitrogen_content: Measured nitrogen (Numerical)
- phosphorus_content: Measured phosphorus (Numerical)
- potassium_content: Measure potassium (Categorical)
  
### SQL Table water_usage
- district: District name where crop was grown (Categorical)
- crop: Crop name (Categorical)
- irrigation_method: Method of irrigation (Categorical)
- water_consumption: Water consumed by crop (Numerical)
- water_availability: Water available in the district (Numerical)

Both yield and price contribute to the profitability of the crop so it makes sense to maximize both. Average Yield x Average price will give us a measure of the average revenue per area used. Here are the crops that had higher than average revenue.

In [6]:
crop_revenue_df = pd.read_sql(
    "SELECT prod.crop, SUM(area) AS total_area, AVG(yield) AS avg_yield, AVG($.price) AS avg_price, (AVG(yield)*AVG($.price)) AS revenue_per_area "
    "FROM crop_production AS prod "
    "JOIN crop_price AS $ "
    "ON prod.crop = $.crop "
    "GROUP BY crop "
    "HAVING revenue_per_area > "
        "(SELECT AVG(yield) FROM crop_production) "
    "ORDER BY revenue_per_area DESC;", cnx)
crop_revenue_df.head()

     crop    total_area  avg_yield    avg_price  revenue_per_area
0  Fennel  1.175441e+08  39.590617  2501.207284      99024.339581
1   Wheat  1.361815e+08  39.534750  2490.940110      98478.693517
2   Guava  1.149027e+08  39.518609  2491.280490      98451.939724
3  Barley  1.550674e+08  39.039637  2500.970256      97636.970349
4   Bajra  1.125697e+08  39.547942  2467.418960      97581.341234

## Feature Selection